video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(10px);
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
    opacity: 0.9;
}
.contenedor1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.623);
    width: 100%;
    color:#ffffff;
    border-radius: 5%;
    
}
.boton{
    transition: 1s;
    border-color: black;
    border-style: solid;
    background-color: black;
    color:#ffffff;
    padding: 2%;
    border-radius: 7%;
    width: auto;
    height: 150%;
    font-size: 22px;
    margin-top: 3%;
}
.boton:hover{
    color:black;
    border-color: #ffffff;
    filter: drop-shadow(0 0 2em rgb(255, 255, 255));
    background-color:rgba(255, 255, 255, 0.842);
}
label,h3,h5,h4,h1{
    font-size: x-large;
    filter: drop-shadow(0 0 0.5em rgb(255, 255, 255));
}
h1{
    font-size: 70px;
    margin-bottom: -10px;
}
h3{
    margin-bottom: -10px;
}
.orden{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.punto1{
    margin-right: 10%;
}
input{
    border-radius: 7%;
    background-color: rgba(240, 248, 255, 0.294);
    color: #ffffff;
    filter: drop-shadow(0 0 2em rgb(255, 255, 255));
    font-size: larger;
    text-align: center;
    margin-top: 3%;
}
.movida{
    display: flex;
    flex-direction: row;
    justify-content: space-around; align-items: center;
}
